body {
    background-color: rgb(44, 62, 80);
    /* color: white; */
}

a {
    text-decoration: none;
    color: inherit;
}



.card-img-top{
    height: 10rem; 
    object-fit: cover;       
}

.active {
    border-bottom: 2px solid tomato;
}